
body{
    background: rgb(238,174,202); background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-size: 1.5em;
    color: #59429d;
    margin-left: 10%;
    margin-top: 2%;
    justify-content: center;
}
    
    h1 { color: rgb(236, 54, 145); } 
    h1 {font-family: Arial, Helvetica, sans-serif;}
    h1 {margin-left: 0%;}

    dl {color:rgb(248, 117, 183); }
    dl {font-family: Arial, Helvetica, sans-serif;}
    dl {margin-left: 0%;}
